<li class="hidden-xs">
    <a href="https://github.com/{{ site.author.github }}">
        <img src="/images/github.png" />
    </a>
</li>
<li class="hidden-xs">
    <a href="http://www.linkedin.com/in/{{ site.author.linkedin }}">
        <img src="/images/linkedin.png" />
    </a>
</li>
<li class="hidden-xs">
    <a href="{{ site.url }}/feed.xml">
        <img src="/images/rss.png" />
    </a>
</li>
<li class="hidden-xs">
    <a href="https://twitter.com/{{ site.author.twitter }}">
        <img src="/images/twitter.png" />
    </a>
</li>
